*{
    margin: 0;
    padding: 0;
}
body{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color:whitesmoke;
}
@keyframes pop {
  0% { transform: scale(1); opacity: 0.5; }
  30% { transform: scale(1.3); opacity: 1; }
  100% { transform: scale(1); opacity: 1; }
}

.timer-pop {
  animation: pop 0.25s ease-out;
}


